.login-wrapper {
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
