<!-- <div>
  <input type="file" #fileUpload (change)="onFileSelected($event)" style="display: none" />

  <button mat-button mat-raised-button color="primary" type="button" (click)="fileUpload.click()">
    Choose File
  </button>

  @if(fileName) {
    <span>{{ fileName }}</span>
  }
</div> -->

<input
  type="file"
  class="file-input"
  [accept]="requiredFileType()"
  (change)="onFileSelected($event)" #fileUpload
/>

<div class="file-upload">
  {{fileName || "No file uploaded yet."}}
  <button
    mat-button mat-mini-fab
    color="primary" class="upload-btn"
    (click)="fileUpload.click()"
  >
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<div class="progress">
  @if(uploadProgress) {
    <mat-progress-bar
      class="progress-bar"
      mode="determinate"
      [value]="uploadProgress"
    >
    </mat-progress-bar>
  }
</div>
