<input
  type="file"
  #fileUpload
  class="file-input"
  [accept]="requiredFileType()"
  (change)="onFileSelected($event)"
/>

<div class="file-upload">
  {{fileName || "No file uploaded yet."}}
  <button
    type="button"
    mat-button mat-mini-fab
    color="primary" class="upload-btn"
    (click)="fileUpload.click()"
  >
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<div class="progress">
  @if(uploadProgress) {
    <mat-progress-bar
      class="progress-bar"
      mode="determinate"
      [value]="uploadProgress"
    >
    </mat-progress-bar>
  }
</div>
