<mat-card appearance="outlined">
  <mat-card-content>
    <mat-card-title>Arrange Menu</mat-card-title>
    <div cdkDropList class="menu-list my-2" (cdkDropListDropped)="drop($event)">
      @for (item of menu; track item) {
        <div class="menu-title" cdkDrag>
          <div class="custom-placeholder" *cdkDragPlaceholder></div>
          {{ item }}
        </div>
      }
    </div>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary" (click)="saveArrangement()">Save Change</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
