<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>General Information</ng-template>
      <div class="flex flex-col">
        <div class="flex flex-col md:flex-row md:space-x-6">
          <mat-form-field appearance="outline" class="w-full md:w-1/2">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter first name" formControlName="firstName" required />
            @if(firstFormGroup.get('firstName')?.invalid && (firstFormGroup.get('firstName')?.dirty || firstFormGroup.get('firstName')?.touched) && firstFormGroup.get('firstName')?.hasError('required')) {
              <mat-error>
                First Name is required.
              </mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full md:w-1/2">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter last name" formControlName="lastName" required>
            @if(firstFormGroup.get('lastName')?.invalid && (firstFormGroup.get('lastName')?.dirty || firstFormGroup.get('lastName')?.touched) && firstFormGroup.get('lastName')?.hasError('required')) {
              <mat-error>
                Last Name is required.
              </mat-error>
            }
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select placeholder="Select gender" formControlName="gender" required>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
          @if(firstFormGroup.get('gender')?.invalid && (firstFormGroup.get('gender')?.dirty || firstFormGroup.get('gender')?.touched) && firstFormGroup.get('gender')?.hasError('required')) {
            <mat-error>
              Gender is required.
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Place of birth</mat-label>
          <textarea matInput formControlName="pob"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Enter phone number" formControlName="phone" required>
          <mat-icon matSuffix>phone</mat-icon>
          @if(firstFormGroup.get('phone')?.invalid && (firstFormGroup.get('phone')?.dirty || firstFormGroup.get('phone')?.touched) && firstFormGroup.get('phone')?.hasError('required')) {
            <mat-error>
              Phone number is required.
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@email.com" formControlName="email" required>
          <mat-icon matSuffix>email</mat-icon>
          @if(firstFormGroup.get('email')?.invalid && (firstFormGroup.get('email')?.dirty || firstFormGroup.get('email')?.touched) && firstFormGroup.get('email')?.hasError('required')) {
            <mat-error>
              Email is required.
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex justify-end">
        <button
          mat-stroked-button
          matStepperNext
          [disabled]="!firstFormGroup.valid"
        >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Address Information">
    <form [formGroup]="secondFormGroup">
      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select
            placeholder="Ex. USA"
            formControlName="country"
            (valueChange)="onCountryChange()"
          >
            @for (country of countries(); track $index) {
              <mat-option [value]="country.id">{{ country.name }}</mat-option>
            }
            @if(countries().length === 0) {
              <mat-option disabled>No option available</mat-option>
            }
          </mat-select>
          @if(secondFormGroup.get('country')?.invalid && (secondFormGroup.get('country')?.dirty || secondFormGroup.get('country')?.touched) && secondFormGroup.get('country')?.hasError('required')) {
            <mat-error>
              Country is required.
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <mat-select
            placeholder="Ex. New York"
            formControlName="city"
          >
            @for (city of cities; track $index) {
              <mat-option [value]="city.id">{{ city.name }}</mat-option>
            }
            @if(cities.length === 0) {
              <mat-option disabled>No option available</mat-option>
            }
          </mat-select>
          @if(secondFormGroup.get('city')?.invalid && (secondFormGroup.get('city')?.dirty || secondFormGroup.get('city')?.touched) && secondFormGroup.get('city')?.hasError('required')) {
            <mat-error>
              City is required.
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input matInput type="number" formControlName="zipCode" placeholder="Ex. 10001" required>
          @if(secondFormGroup.get('zipCode')?.invalid && (secondFormGroup.get('zipCode')?.dirty || secondFormGroup.get('zipCode')?.touched) && secondFormGroup.get('zipCode')?.hasError('required')) {
            <mat-error>
              Zip code is required.
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Building Number</mat-label>
          <input matInput formControlName="buildingNumber" placeholder="Ex. 12126" required>
          @if(secondFormGroup.get('buildingNumber')?.invalid && (secondFormGroup.get('buildingNumber')?.dirty || secondFormGroup.get('buildingNumber')?.touched) && secondFormGroup.get('buildingNumber')?.hasError('required')) {
            <mat-error>
              Building number is required.
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Street Address</mat-label>
          <input matInput formControlName="street" placeholder="Ex. 1 Main St" required>
          @if(secondFormGroup.get('street')?.invalid && (secondFormGroup.get('street')?.dirty || secondFormGroup.get('street')?.touched) && secondFormGroup.get('street')?.hasError('required')) {
            <mat-error>
              Street is required.
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="space-x-3">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button
          mat-stroked-button
          matStepperNext
          [disabled]="!secondFormGroup.valid"
        >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Attachment</ng-template>
    <form [formGroup]="thirdFormGroup">
      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>ID Card Front</mat-label>
          <input
            matInput readonly formControlName="idCardFront"
            required style="visibility: hidden;">
          <file-upload
            (onFileUploaded)="getUploadedFileUrl($event, 'idCardFront')"
          ></file-upload>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>ID Card Back</mat-label>
          <input
            matInput readonly formControlName="idCardBack"
            required style="visibility: hidden;">
          <file-upload
            (onFileUploaded)="getUploadedFileUrl($event, 'idCardBack')"
          ></file-upload>
        </mat-form-field>
      </div>
      <div class="space-x-3">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext (click)="stepper.reset()">Reset</button>
        <button
          mat-flat-button
          [disabled]="!thirdFormGroup.valid"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
