<div class="flex flex-col">
<mat-form-field appearance="outline" class="px-3">
  <mat-icon matPrefix aria-hidden="false">search</mat-icon>
  <input
    type="text"
    #searchInput
    matInput
    cdkFocusInitial
    placeholder="Search..."
    [value]="searchInput.value"
    (input)="onSearch($event)"
    (keydown.enter)="onEnter($event)"
  />
</mat-form-field>
<!-- <input type="text" [formControl]="searchInput" placeholder="Search..." /> -->
@if (searchResult$ | async; as results) {
  @if (results.length > 0) {
    <mat-list role="list" class="h-100 overflow-y-scroll">
      @for (item of results; track item) {
        <mat-list-item role="listitem">{{ item }}</mat-list-item>
      }
    </mat-list>
  } @else {
    No result
  }
} @else {
  Loading...
}
</div>
