<div class="m-8">
  <h2 class="text-3xl font-bold underline">Product</h2>
  <form (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" class="flex-col w-80">
    <field-wrapper class="mb-3" label="Name" [required]="true">
      <input
        id="name"
        class="border rounded px-1"
        [field]="productForm.name"
        [class.is-invalid]="productForm.name().touched() && productForm.name().invalid()"
        [class.is-valid]="productForm.name().touched() && productForm.name().valid()"
      />

      <div ngProjectAs="error-message">
        @if (productForm.name().touched() && productForm.name().invalid()) {
          <ul>
            @for (error of productForm.name().errors(); track error) {
              <li>{{ error.message }}</li>
            }
          </ul>
        }
      </div>
    </field-wrapper>

    <field-wrapper label="Qty" [required]="true">
      <input
        id="qty"
        type="number"
        class="border rounded px-1"
        [field]="productForm.qty"
        [class.is-invalid]="productForm.qty().touched() && productForm.qty().invalid()"
        [class.is-valid]="productForm.qty().touched() && productForm.qty().valid()"
      />

      <div ngProjectAs="error-message">
        @if (productForm.qty().touched() && productForm.qty().invalid()) {
          <ul>
            @for (error of productForm.qty().errors(); track error) {
              <li>{{ error.message }}</li>
            }
          </ul>
        }
      </div>
    </field-wrapper>

    <field-wrapper label="Description" [required]="true">
      <textarea
        id="description"
        class="border rounded px-1"
        [field]="productForm.description"
        [class.is-invalid]="productForm.description().touched() && productForm.description().invalid()"
        [class.is-valid]="productForm.description().touched() && productForm.description().valid()"
      ></textarea>

      <div ngProjectAs="error-message">
        @if (productForm.description().touched() && productForm.description().invalid()) {
          <ul>
            @for (error of productForm.description().errors(); track error) {
              <li>{{ error.message }}</li>
            }
          </ul>
        }
      </div>
    </field-wrapper>

    <div class="gap-2 mt-4 flex">
      <button
        type="button"
        class="bg-red-500 text-white px-2 py-1 rounded"
        (click)="resetForm()"
      >Reset</button>
      <button
        type="submit"
        class="bg-blue-500 text-white px-2 py-1 rounded"
      >
        Submit
      </button>
    </div>
  </form>
</div>
