input.is-invalid {
  border: 2px solid red;
  background-color: white;
}
input.is-valid {
  border: 2px solid green;
}

textarea.is-invalid {
  border: 2px solid red;
  background-color: white;
}
textarea.is-valid {
  border: 2px solid green;
}
